#slider {
  height: 400px;
}
.slides {
  width: 300%;
}
.slider {
  width: 33.33%;
  font-family: 'Open Sans', sans-serif;
}
.content-txt {
  max-width: 420px;
  height: 320px;
  /*box-sizing: border-box;*/
  top: 25px;
  margin-left: 40px;
  margin-right: 40px;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.content-txt.right {
  float: right;
}
.content-txt h1, .content-txt h2 {
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  color: #125095;
  margin: 0 0 10px 0;
}
.content-txt h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}
.content-txt h2 {
  font-size: 24px;
  font-style: normal;
}
.content-txt p {
  line-height: 1.4;
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #333;
}
#slider .btn {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 12px;
  text-decoration: none;
  color: #fff;
  background-color: #3082e2;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

#slider .btn.lg {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.52);
}

#slider .btn:hover {
  text-decoration: none;
}

#slider .absolute-center {
  display: table;
  width: 100%;
  height: 100%;
}

#slider .absolute-center-inner {
  display: table-cell;
  vertical-align: middle;
}
@keyframes slide{
  0%,100%{
    margin-left: 0%;
  }
  29.33%{
    margin-left: 0%;
  }
  33.33%{
    margin-left: -100%;
  }
  62.66%{
    margin-left: -100%;
  }
  66.66%{
    margin-left: -200%;
  }
  96%{
    margin-left: -200%;
  }
}
